@import url("../../App.css");

.app-button {
  cursor: pointer;
  font-size: 1em;
  min-width: 1.6em;
  min-height: 1.6em;
  display: flex;
  align-items: center;
}

.app-button-delete {
  color: var(--text-main) !important;
  background-color: var(--bg-danger) !important;
  border: none !important;
  padding: 0;
  min-width: 0;
  min-height: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
