@import url("../../App.css");

.app-input-wrapper {
  display: flex !important;
  align-items: flex-start !important;
}

.app-input-content {
  gap: 0;
  align-items: baseline !important;

  width: calc(100% - 0.4em) !important;
  border-radius: 0.9em;
  height: 1.8em;

  margin: 0;
  padding: 0;
  padding-left: 0.4em;

  outline: none !important;
  box-shadow: none;
  border: none !important;

  background-color: var(--bg-primary-strong);
  color: var(--text-main);

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  input {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    min-width: 1em !important;
    max-width: none !important;
  }
}

.app-select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;

  label {
    margin-top: 0em;
    margin-bottom: 0.1em;
  }

  :last-child {
    margin-top: -0.1em;
    margin-bottom: 0;
    width: fit-content;
  }
}

.app-label-wrapper {
  text-wrap: nowrap;
}
