@import url("../App.css");

.app-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--bg-main);
}

.app-dashboard-widget {
  position: absolute;
}

.app-bg-hexagon {
  background: var(--bg-gradient);
  opacity: 0.5;
}

.app-bg-light {
  mask-image: var(--hexagon-pattern);
  opacity: 1;
  background-color: var(--bg-primary-strong);
}

.app-dashboard-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
