@import url("../../App.scss");

.app-widget-i2c {
  width: 24em;
  height: 8em;
}

.app-widget-i2c-actions {
  position: absolute;
  bottom: 0.5em;
}

.app-widget-i2c-datum {
  min-width: 6em;
}
/**/

/* CONFIG */
.app-input-hexadecimal {
  width: 3em !important;
}

.app-widget-i2c-config {
  gap: 0.5em;
  width: 24em;
}

.app-wiget-i2c-config-row-delete {
  flex: none;
  width: 1.2em !important;
  height: 1.2em !important;
}

.app-widget-i2c-config-delete {
  width: 1em;
  height: 1em;
}

.app-widget-i2c-config-list {
  align-items: center !important;

  padding-left: 0.5em;
  border-inline-start: 0.25em solid var(--bg-danger);
}
/**/
