@import url("@/App.scss");

.bg-wrapper {
  width: 100%;
  height: 100%;
  opacity: 1;
  background: radial-gradient(var(--bg-primary) 0%, var(--bg-main) 80%);
}

.bg-hexagon-wrapper {
  background: var(--bg-primary-strong);
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.6;
}

.bg-hexagon-shape {
  fill: var(--bg-primary-strong);
  stroke-width: 7.5;
  stroke: var(--bg-primary);
}
