@import url("../../App.css");

.app-input-hexadecimal {
  width: 3em !important;
}

.app-widget-i2c {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  width: 24em;
}

.app-widget-i2c-datum {
  flex-grow: 1;
}
/**/

/* CONFIG */
.app-widget-i2c-config {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 24em;
}

.app-wiget-i2c-config-row {
  :nth-child(1) {
    width: 8em;
  }
  :nth-child(3) {
    width: 4em;
  }
  :nth-child(4) {
    width: 4em;
  }
  :nth-child(5) {
    width: 4em;
  }
}

.app-wiget-i2c-config-row-delete {
  flex: none;
  width: 1.2em !important;
  height: 1.2em !important;
}

.app-widget-i2c-config-delete {
  width: 1em;
  height: 1em;
}

.app-widget-i2c-config-datamap {
  align-items: center !important;

  padding-left: 0.5em;
  border-inline-start: 0.25em solid var(--bg-danger);
}
/**/
