:root {
  --bg-main: #0b0c11;

  --bg-primary: #0c5d57;
  --bg-primary-strong: #0c3634;

  --bg-danger: #90282a;

  --bg-save: #30a72c;
  --bg-load: #078987;
  --bg-config: #ff6c37;

  --text-main: #dce3e6;
  --text-main-strong: #d2ae67;
}
