@import url("../App.css");

.app-widget {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 0.25em;

  box-shadow: var(--border-glass);
  color: var(--text-main);
  border-radius: 0.4em;

  backdrop-filter: blur(0.1em);
  background-color: transparent;
}

.app-widget-header-wrapper-actions {
  margin-left: -0.75em;
}

/*
.widget-icon-mask {
  float: right;
  position: absolute;
  left: 0.05em;
  width: 1em;
  height: 100%;
  background: "transparent";
}

.widget-icon-mask-circle {
  filter: drop-shadow(0 0 0.1em var(--text-main));
  backdrop-filter: blur(0.1em);
  opacity: 0.6;
}
/**/

.app-widget-actions {
  float: right;
  position: relative;
  left: -1.6em;
  top: 0.32em;
  z-index: 1;

  height: 100%;
  width: 0em;

  text-align: center;
  gap: 2.2px;
  margin: 0;

  :first-child {
    padding: 0;
    background-color: var(--bg-config);
  }

  :nth-child(2) {
    padding: 0;
    background-color: var(--bg-load);
  }

  :nth-child(3) {
    padding: 0;
    background-color: var(--bg-save);
  }
}

.app-widget-action-button {
  width: 1em;
  height: 1em;
  border-radius: 0.5em;

  &:hover {
    font-size: 1.5em;
    border-radius: 1em;
  }
}
