@import url("../App.css");

.app-alert-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;

  background-color: color-mix(in srgb, var(--bg-main), transparent 30%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-alert-hide {
  display: none;
}

.app-alert-content {
  padding: 0.5em;
}

.app-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 0.4em;
  border: 0.1em var(--bg-primary) solid;
  background-color: color-mix(in srgb, var(--bg-main), transparent 50%);

  position: absolute;
  top: 3em;
  margin-bottom: 3em;
}

.app-alert-close-button {
  float: right;

  margin-top: -1em;
  margin-right: -1em;

  min-width: 1.3em;
  min-height: 1.3em;
  width: 1.3em;
  height: 1.3em;
}
