@import url("../App.css");

.app-container-hide {
  display: none;
}

.app-container-toggle {
  cursor: pointer;
}

.app-container-content {
  width: 100%;
  box-shadow: var(--box-shadow-strong);
  border-radius: 0.25em;
}

.app-container-wrapper {
  margin: 1em;
  width: calc(100% - 1em);
}
