@import url("../App.css");

.app-button-delete {
  color: var(--text-main);
  background-color: var(--bg-danger);
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
