@import url("../App.css");

.app-menu-hide {
  display: none !important;
}

.app-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 0.4em;

  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 0.25em;

  border: var(--border-glass);
  color: var(--text-main);
  backdrop-filter: blur(0.1em);
  background-color: color-mix(in srgb, var(--bg-main), transparent 50%);
}
