@import url("../App.css");

.app-title {
  font-size: 1.5em;
  font-weight: 500;
}

.app-section-title {
  font-size: 1em;
  font-weight: 500;
}

.app-text-normal {
  font-size: 0.8em;
  font-weight: 400;
}

.app-input-label {
  font-size: 0.8em;
  font-weight: 500;
}
