@import url("../../App.css");

.app-widget-cmd {
  display: flex;
  flex-direction: column;
  width: 21.25em;
  height: 8em;
}

.app-widget-ouput-wrapper {
  overflow: auto;
  background-color: color-mix(in srgb, var(--bg-primary), transparent 70%);
  width: 100%;
  height: 100%;
}
