@import url("../../App.scss");

.app-widget-gpio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  margin: 0.3em;
  padding: 0.5em;
  border-radius: 0.3em;

  box-shadow: var(--box-shadow);
}

.app-widget-gpio-title {
  margin-bottom: 0.5em;
}

.app-widget-gpio-content {
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5em;
}
