@import url("./index.css");

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.app-body {
  color: var(--text-main);
  background-color: var(--bg-primary-strong);
  flex-grow: 1;
}

/* FLAT STYLE */
.app-input-flat {
  .app-input {
    border-radius: 0 !important;
    background-color: var(--bg-primary) !important;
  }

  .app-input-content-wrapper {
    border-bottom: 0.1em solid var(--bg-main);
  }
}

.app-button-flat {
  border-radius: 0 !important;
  background-color: var(--bg-main) !important;
  border-bottom: 0.2em solid var(--bg-primary) !important;
  padding-left: 0.1em !important;
  padding-bottom: 0.1em !important;
  box-shadow: none;
}
/**/

/**/
.app-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.25em;
}

.app-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.25em;
}

.app-stretch-row {
  width: 100%;
}
/**/

/**/
.triangle-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-bottom: 60px solid #555555;
  border-top: 0;
}

.triangle-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-top: 60px solid #555555;
  border-bottom: 0;
}
/**/
