@import url("./index.css");

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

.app-header {
  color: var(--text-main);
  background-color: var(--bg-main);
  box-shadow: 0em 1em 1em var(--bg-primary-strong) inset;

  min-height: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.app-body {
  color: var(--text-main);
  background-color: var(--bg-primary-strong);
  flex-grow: 1;
}

.app-input {
  border-radius: 0.8em;
  height: 1.6em;
  outline: none;
  width: 100%;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.app-input-decoration {
  background: var(--bg-main);
  color: var(--text-main);
  border: var(--border-shadow);
  box-shadow: 0em 0.5em 0.75em var(--bg-primary-strong) inset;
}
