@import url("./style.custom.css");

body {
  background: var(--bg-main);
  color: var(--text-main);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  display: flex;

  --border-primary: var(--bg-primary) 0.07em solid;
  --border-shadow: linear-gradient(var(--bg-primary) 0%, transparent 25%) 0.7em
    solid;

  --box-shadow: 0 0.1em 0.2em var(--bg-main);
  --box-shadow-strong: 0 0.2em 0.4em var(--bg-main);

  --bg-gradient: radial-gradient(
    transparent 0%,
    var(--bg-primary-strong) 60%,
    var(--bg-primary) 100%
  );
}
