/*https://www.w3schools.com/colors/colors_names.asp*/

:root {
  --bg-main: rgb(29, 32, 32);

  --bg-primary: cadetblue;
  --bg-primary-strong: teal;

  --bg-danger: lightcoral;

  --bg-save: lightgreen;
  --bg-load: deepskyblue;
  --bg-config: chocolate;

  --text-main: ivory;
  --text-main-strong: linen;
}
