@import url("../board.css");

.gpio-wrapper {
  margin: 1em;
  gap: 0.5em;
}

/**/
.gpio-action-warning {
  background-color: crimson;
  color: white;
  box-shadow: none;
}

.gpio-action-success {
  background-color: teal;
  color: white;
  box-shadow: none;
}

/**/
.gpio-section-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.gpio-section-vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}
