@import url("./index.css");

.gpio-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  margin: 0.3em;
  padding: 0.5em;
  border-radius: 0.3em;

  box-shadow: var(--box-shadow);
}

.gpio-section-title {
  margin-bottom: 0.5em;
}

.gpio-section-content {
  margin-left: 0.5em;
}
